@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

:root {
  --yellow: #F2C650;
  --red: #C55151;
  --white: #ffffff;
  --text-primary: #000000;
  --light-2: #FDF8E9;
  --light-3: #FBF2D8;
  --red-1: rgba(197, 81, 81, 0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 40px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.15));
}

.top, .bottom {
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.top .content, .bottom .content {
  padding: 6px 16px 8px 16px;
  max-height: 100%;
  display: flex;
  max-width: 350px;
  overflow: hidden;
}

.top .content {
  background-color: var(--yellow);
  border-radius: 8px 8px 0px 0px;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 600;
}

.long-text {
  font-size: 20px;
  font-weight: 500;
  max-width: 500px;
  line-height: 120%;
  font-family: 'Barlow' !important;
}

.top .content p {
  font-size: 17px;
  color: var(--text-primary);
  text-transform: uppercase;
}

.divider {
  height: 17px;
  width: 2px;
  background: #00000033;
  margin-top: 2px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 12px 18px 16px 18px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: -1px;
  margin-bottom: -1px;
  gap: 8px;
}

.center .heading_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.rgx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 6px 12px;
  gap: 4px;
  border-radius: 15px;
  background-color: #e8e8e8;
}

.rgx img {
  height: 18px;
}

.rgx.pro {
  background-color: #000000;
}

.rgx.pro span, .rgx.pro input{
  color: #ffffff;
}

.rgx #pro {
  display: none;
}

.rgx.pro #normal {
  display: none;
}

.rgx.pro #pro {
  display: block;
}

.center * {
  font-family: 'Antonio';
}

.button {
  font-size: 30px;
  font-weight: 600;
  height: 47px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-bottom: 4px;
  color: var(--white);
}

